<div id="newslinks" class="container pt-2">
    <h3 class="ms-3">News</h3>
    <ul class="list-group list-unstyled">
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2025/06/18/codemetar-author-streamlines-software-metadata-updates/">CodemetaR Author streamlines software metadata updates</a></li>
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2025/05/07/software-heritage-citation-feature/">Software Heritage Citation Feature: Addressing researcher needs</a></li>
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2025/04/02/ospo-radar-project-launch/">The OSPO-RADAR Project: Making research software easier to find and use</a></li>
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2024/08/30/codemeta-new-features/">New Features in the CodeMeta Generator</a></li>
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2023/08/24/archival-of-software-metadata/">Deep Dive into the archival of Software Metadata</a></li>
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2020/03/18/codemeta-community/">Software Heritage contributes CodeMeta generator to the community</a></li>
        <li><a class="list-group-item newslink lh-base p-2" href="https://www.softwareheritage.org/2019/05/28/mining-software-metadata-for-80-m-projects-and-even-more/">Mining software metadata for 80 M projects and even more</a></li>
    </ul>
</div>
